@font-face {
    font-family: "Professor3D";
    src: url("./fonts/Professor3D.ttf");
}
@font-face {
    font-family: "SourceCode";
    src: url("./fonts/SourceCodePro-VariableFont_wght.ttf");
}

::-moz-selection { /* Code for Firefox */
    color: #341755;
    background: plum;
}
::selection {
    color: #341755;
    background: plum;
}
body {
    color: #fff;
    font-family: "SourceCode", sans-serif;
    background-color: #341755;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
body > * {
    width: 100%;
}
