@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Professor3D";
    src: url("./fonts/Professor3D.ttf");
}
@font-face {
    font-family: "SourceCode";
    src: url("./fonts/SourceCodePro-VariableFont_wght.ttf");
}
::-moz-selection { /* Code for Firefox */
    color: #341755;
    background: plum;
}
::selection {
    color: #341755;
    background: #dda0dd;
}
/* example */
.menu-item {
    /* @apply bg-red-50; */
}
.hero_section::before {
    content:'';
    background-image: url("./images/carl-raw-8Gdayy2Lhi0-unsplash.jpg");
    position: absolute;
    inset: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
    z-index: -1;
}