/*colors: https://www.pinterest.com/pin/563018696837653/ */

.hero_section {
    position: relative;
    padding-block: 100px;
}
.hero_section::before {
    content: "";
    background-image: url("../images/carl-raw-8Gdayy2Lhi0-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    z-index: -1;
}
.games_section {
    padding-block: 80px;
}
.games_grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 30px;
    padding-top: 50px;
}
.card {
    background-color: #15113d;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 8px;
}
.card:before {
    content: "";
    background-color: #341755;
    width: 50px;
    height: 40px;
    position: absolute;
    left: -20px;
    top: -20px;
    transform: rotate(320deg);
}
.card:after {
    content: "";
    background-color: #341755;
    width: 50px;
    height: 40px;
    position: absolute;
    right: -20px;
    bottom: -20px;
    transform: rotate(320deg);
}
.card > * {
    color: #fff;
}
.card > *:not(.image_container) {
    padding-inline: 30px;
}
.nav_buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    z-index: 2;
    padding-bottom: 50px;
}
.nav_buttons a {
    background-color: plum;
    color: #341755;
    font-weight: 600;
    padding: 10px 12px;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    line-height: 20px;
    font-size: 14px;
    border: 2px plum solid;
}
.nav_buttons a:hover {
    background-color: transparent;
    color: #fff;
    border: 2px #fff solid;
}
.nav_buttons a,
.nav_buttons a:hover {
    transition: all 0.4s ease-in-out;
}
.row_container_xl {
    max-width: 1440px;
    margin-inline: auto;
}
.row_container_m {
    max-width: 1280px;
    margin-inline: auto;
}
.row_container_s {
    max-width: 900px;
    margin-inline: auto;
}
.name {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 800;
    z-index: 2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.date {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5em;
    letter-spacing: 1.2px;
    margin-bottom: 30px;
    text-align: center;
    margin-top: auto;
    z-index: 2;
}
.date span {
    width: 100%;
    display: block;
}
.score_container > p {
    margin: 0;
    font-size: 13px;
    z-index: 2;
}
.score_container {
    text-align: center;
    margin-bottom: 40px;
}
.score span {
    font-family: "SourceCode";
    font-weight: 500;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
}
.score_container .score {
    font-weight: 800;
    font-family: "Professor3D";
    color: yellow;
    font-size: 20px;
    line-height: 30px;
}
.image_container {
    display: block;
}
.image_container img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}
